body {
    font-family: 'Gowun Dodum', sans-serif;
    font-weight:lighter;
    font-size: 25px;
    color: black;
}


.blockquote {
  font-size:1.3em;
}


.navbar {
    background-color:transparent;
    border-bottom:none;
}


.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: black;
}

.navbar-default .navbar-nav > li > a{
    color:#c4c9cf;
}

.navbar-default .navbar-nav > li > a:hover{
    color:white;
}

.navbar-fixed-top {
    position:absolute;
}

hr.styled {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.padded {
    padding-top: 2em;
    padding-bottom: 2em;
}

h1 {
   color:#425362;
    font-family: 'Londrina Solid', cursive;
    font-size: 2.5em;

}

h3 {
    font-family: 'Londrina Soli', cursive;
    color:#696969;
}


@media screen and (max-width: 768px) {
    h1{
        font-size:25px;
    }
}

.header-text {
    font-size:2.6em;
    color:white;
}

.header-text > a {
    text-decoration: none;
    color:white;
}

.header-text > a:hover {
    color: white;
}


header h2 {
    color:#d4d8e1;
    font-weight:lighter;
}

.container {
    padding-top:30px;
    padding-bottom:50px;
}


.img {
    margin-bottom:40px;
}

.clipped {
    clip-path: polygon(82% 0, 0% 100%, 100% 90%);
}
/** SECTIONS **/


.home-bg {
    background:url("../img/header.jpg") fixed no-repeat;
    background-color:black;
    background-size: cover;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100vh;
    clip-path: ellipse(60% 90% at 50% 5%);
    padding-top:15%
}


.blog-bg {
    background:url("../img/blog_header_bg.png") fixed no-repeat;
    background-size: cover;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100vh;
}

.info-box {
    background-color: #445564;
}

.blogpost {
  font-family: 'Open Sans', sans-serif;
}

.blog-img {
  padding:30px;
}

#tech {
    background-color:#445564;
    color:#c4c9cf;
}


#tech h1 {
    color:#c4c9cf;
}


.white-text {
    color:white;
}

.dark-text {
    color:#555;
}


.heart-icon {
    font-size:0.7em;
    color:#425362;
}

body a .social-media{

    color:#57565E;
}

body a .social-media:hover, a .social-media:focus {
    color: #d4d8e1;
    text-decoration: none;
}


.social-media {
    padding-top:20px;
    padding-bottom:50px;
    padding-left:0.5em;
    padding-right:0.5em;
}


.footer-color {
   background-color:#57565e;
    padding:30px;
    color:#d4d8e1;
}

#about {
    padding-top:10%;
}


#design {
    background-color:#57565e;
    color:#d4d8e1;
}


#design h1 {
    color:#c2c6cf;
}

#design h4 {
    color:#c2c6cf;
}


.hover-holder {
    position: relative;
    max-width: 435px;
}


.hover-holder img {
    display: block;
    max-width: 100%;
}

.hover-holder:hover:after {
    cursor:pointer;
    content: '';
    background: rgba(30, 30, 30,0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/**BLOG STYLES **/



.author-name {
    color:#C1C1C3;
}
